body{
	display: flex;
	justify-content: center;
	background: rgb(99, 102, 97);
}

.main{
    margin-top: 10%;
    border: 5px solid rgb(111, 114, 114);
    padding: 10px;
    background-color: rgb(96, 106, 109);
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 15px 15px 30px rgb(96, 106, 109);
}
