html {
  height: 100%;
  background-image: url('./images/bg4.png');
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 2em 0;
  max-width: 800px;
  min-height:100%;
  font-family: 'Lucida Sans';
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  color: rgb(7, 53, 7);
}

h1{
  line-height: 1em;
  font-family:'Lucida Sans' ;
  font-weight:bold;
  font-size: 3.3em;
  color:#c9c4c4;
  text-shadow: 7px 7px 8px #181717;
  text-align: center;
 }

input[type="text"] {
  width: 100%;
  font-family: 'Lucida Sans';
  font-size: 20px;
  box-shadow: 5px 5px 15px rgb(27, 81, 27);
  border: 2px solid rgb(34, 33, 33);
  border-radius: 10px;
  background-color: #e0dddd;
}

.banner {
  height: 200px;
  background-color: #2c4512;
  border-radius: 10px 10px 0px 0px;
}

section {
  background-color: #50801c;
  border-radius: 0px 0px 10px 10px;
}

.banner,
section {
  padding: 10px;
}
#submit{
  background-color: yellowgreen;
  padding: 10px 40px;
  margin: 10px 10px 0px 0px;
  border: 2px solid grey;
	border-radius: 10px;
	font-family: 'Lucida Sans';
	font-size: 25px;
  font-weight: bolder;
	color: rgb(236, 231, 231);
  text-shadow: 1px 1px 5px rgb(23, 21, 21);
  box-shadow: 5px 5px 2px rgb(41, 60, 41);
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
  background-color: rgb(41, 60, 41);
}

#searchKey{
  height: 30px;
  margin-top:10px;
  max-width: 600px;
}

.validators { 
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}